{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<h2>Главная</h2>
<h3>Задание №4</h3>
<p>http://127.0.0.1:8000/task_4_5/author/3/ </p>
<p>Для вывода всех статей автора в виде
списка заголовков.</p>
<p>○ Если статья опубликована, заголовок должен быть
ссылкой на статью.</p>
<p>○ Если не опубликована, без ссылки.</p>
<p></p>
<p></p>
<h3>Задание №5 </h3>
<p>http://127.0.0.1:8000/task_4_5/info_post/3/</p>
<p>Для вывода подробной информации о
статье.</p>
<p>*Увеличивайте счётчик просмотра статьи на единицу при
каждом просмотре</p>


{% endblock %}